.container{
    background-color: #CCFFFF;
    height: 100vh;
    position: relative;
}
.square{
    width: 50px;
    height: 50px;
    background: #FFCC33;
}
.colorone{
    width: 50px;
    height: 50px;
    background: #33FF00;
}
.colortwo{
    width: 50px;
    height: 50px;
    background: #FFFFFF;
}
.row{
    display: flex;
    flex-wrap: wrap
}
.chair{
    color: black;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 15px;
    background-color: #FFFFFF;
}
.chairing{
    background-color: #33FF00;
}
.chaired{
    background-color: #FFCC33;
    opacity: 0.5;
}
.col1{
    position: absolute;
    right: 200px;
}
.col2{
    position: absolute;
    left: 100px  ;    
}
